.user-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	border: 1px #e2dede solid;
	border-radius: 15px;
	padding: 30px;
	box-shadow: 0px 1px 9px 0px #e7e3e3;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.user-card:nth-last-child(n + 4) {
	margin: 0 0 40px 0;
}

.user-card__image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 110px;
	background: #dad4d4;
	border-radius: 50%;
	border: none;
	font-size: 30px;
	margin: 0 0 25px 0;
}

.user-card__name {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.user-card__username {
	color: #868282;
	font-style: italic;
	margin: 0 0 15px 0;
}

.user-card__website {
	color: rgb(20, 145, 154);
	font-weight: 600;
	margin: 0 0 40px 0;
	transition: all ease 0.3s;
}

.user-card__website:hover {
	color: rgb(7, 109, 116);
}

.button {
	font-size: 18px;
	text-transform: uppercase;
	background: rgb(47, 125, 242);
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.button:hover {
	background: rgb(23, 85, 179);
}
